div {
  border: 1px solid black;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.device-panel {
  display: grid;
  grid-template-rows: 1fr 9fr;
}
.viz-panel {
  display: grid;
  grid-template-rows: 1fr 9fr;
}
